/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

:root {
	--main-background-color:#1F0322;
	--main-text-color:#DA4167;
	--menu-background-color:#8A1C7C;
	--menu-text-color:#F0BCD4;
}

body {
	background: var(--main-background-color);
	font-size:22px;
	line-height: 32px;
	color: var(--main-text-color);
	word-wrap:break-word !important;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 60px;
	text-align: center;
	color: teal;
	margin-top: 100px;
	font-family: 'Bree Serif', 'serif';
}

h3 {
	font-size: 30px;
	text-align: center;
	color: #FFF;
}

h3 a {
	color: #FFF;
}

a {
	color: #FFF;
}

#container {
	margin: 0 auto;
}

p {
	text-align: center;
}

nav {
	margin: 50px 0;
	background-color: var(--menu-background-color);
}

nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
	}

nav ul li {
	display:inline-block;
	background-color: var(--menu-background-color);
	}

nav a {
	display:block;
	padding:0 11px;
	color: var(--menu-text-color);
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
}

nav a:hover {
	background-color: var(--menu-background-color);
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute;
	top: 60px; /* the height of the main nav */
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
	position: relative;
	top:-60px;
	left:170px;
}


/* Change this in order to change the Dropdown symbol */
li > a:after { content:  ' ×'; }
li > a:hover:after { content:  ' ¤'; }
li > a:only-child:after { content: ''; }

.frameFull {
	height: 100%;
	width: 100%;
}

.content {
	position: absolute;
	top: 15%;
	left: 10%;
	right: 15%;
	bottom: 10%;
}
